.feedbackContainer{
    width: 766px;
    height: 335px;
    top: 262px;
    left: 258px;
    gap: 0px;
    border-radius: 10px ;
    background: #FAF7FF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    /* display: flex; */
    padding: 20px;


}

.feedbackHeader{
    display: flex;
    justify-content: space-between;
    align-items: center
}


.feebackText{
    font-family: 'open-sans';
    font-size: 22px !important;
    font-weight: 400 !important;
    line-height: 29.96px !important;
    text-align: left !important;
}


.feedbackTextField{
    width: 716px;
    height: 187px;
    border-radius: 10px ;
    border: 1px ;
    background: #FFFFFF;


}

.feedbackButton{
    width: 157px;
    height: 50px;
    border-radius: 5px ;
    background: #D7C7F4 !important;
    color: #000000 !important;
    font-family: 'Ubuntu' ;
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 22.98px !important;
    text-align: left !important;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}